<section data-ng-controller="StudentsController" ng-init="findCandidate()">
    <div class="page-header">
        <h1>Inscription du Candidat </h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <h2>Etat civil :</h2>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option ng-model="civility">Mlle</option>
                                        <option ng-model="civility">Mme</option>
                                        <option ng-model="civility">M</option>
                                    </select>
                                </div><!--/col-->

                            </div><!--/row-->
                        </div>
                        <div class="col-md-4">
                            {{candidate.firstName}}
                        </div>
                        <div class="col-md-4">
                            {{candidate.lastName}}
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group col-md-11">
                                <label class="control-label">Date de naissance</label>
                                <div class="input-group date" id="">
                                    <input type="DATE" class="form-control">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group col-md-11">
                                <label class="control-label" for="naissance">Lieu de naissance</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="name" id="naissance" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group col-md-11">
                                <label class="control-label" for="nationnalite">Nationnalité</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="name" id="Nationnalite" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="form-group col-md-11">
                            <label class="control-label" for="adresse">Adresse</label>
                            <div class="controls">
                                <input type="text" data-ng-model="name" id="adresse" class="form-control" placeholder="Name" required>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="postal">Code postal</label>
                                <div class="controls">
                                    <input type="number" data-ng-model="name" id="postal" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label" for="commune">Commune</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="name" id="commune" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="phone">Téléphone</label>
                                <div class="controls">
                                    <input type="text" ng-model="phone" ng-pattern="/^\+?\d{2}[- ]?\d{2}[- ]?\d{2}[- ]?\d{2}[- ]?\d{2}$/" class="form-control" name="phone" id="phone" placeholder="06-99-35-99-86" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="phoned">Téléphone domicile</label>
                                <div class="controls">
                                    <input type="text" ng-model="phone" ng-pattern="/^\+?\d{2}[- ]?\d{2}[- ]?\d{2}[- ]?\d{2}[- ]?\d{2}$/" class="form-control" name="phone" id="phoned" placeholder="06-99-35-99-86" />
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="email">Email</label>
                                <div class="controls">
                                    <input type="email" data-ng-model="name" id="email" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                </div>
                <h2>Personne à contacter en cas d'urgence (RESPONSABLE LEGAUX si enfants) :</h2>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="name">Nom</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="lastname">Prénom</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="name" id="lastname" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="fonction">Fonction</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="name" id="fonction" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="form-group col-md-11">
                            <label class="control-label" for="adresse2">Adresse</label>
                            <div class="controls">
                                <input type="text" data-ng-model="name" id="adresse2" class="form-control" placeholder="Name" required>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label" for="postal2">Code postal</label>
                            <div class="controls">
                                <input type="number" data-ng-model="name" id="postal2" class="form-control" placeholder="Name" required>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label" for="commune2">Commune</label>
                            <div class="controls">
                                <input type="text" data-ng-model="name" id="commune2" class="form-control" placeholder="Name" required>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="phone2">Téléphone domicile</label>
                                <div class="controls">
                                    <input type="text" ng-model="phone" ng-pattern="/^\+?\d{2}[- ]?\d{2}[- ]?\d{2}[- ]?\d{2}[- ]?\d{2}$/" class="form-control" name="phone" id="phone2" placeholder="06-99-35-99-86" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="phone3">Téléphone portable</label>
                                <div class="controls">
                                    <input type="text" ng-model="phone" ng-pattern="/^\+?\d{2}[- ]?\d{2}[- ]?\d{2}[- ]?\d{2}[- ]?\d{2}$/" class="form-control" name="phone" id="phone3" placeholder="06-99-35-99-86" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="phone4">Téléphone de travail</label>
                                <div class="controls">
                                    <input type="text" ng-model="phone" ng-pattern="/^\+?\d{2}[- ]?\d{2}[- ]?\d{2}[- ]?\d{2}[- ]?\d{2}$/" class="form-control" name="phone" id="phone4" placeholder="06-99-35-99-86" />
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="email2">Email</label>
                                <div class="controls">
                                    <input type="email" data-ng-model="name" id="email2" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                </div>
                <h2>Comment avez-vous connu Clic Academy:</h2>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="site">Sur internet, précisez le site :</label>
                                <div class="controls">
                                    <input type="url" ng-model="phone" class="form-control" name="phone" id="site" placeholder="www.esi.dz" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div><!--/row-->
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div><!--/row-->
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="submit" class="btn btn-default">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div><!--/col-->


            </fieldset>
        </form>
    </div>
</section>
