<section>
    <div class="modal-header">
        <h1>Mise à jour du Niveau {{level.name}} pour le cous {{lesson.name}}</h1>
    </div>
    <div class="col-md-12  modal-body">
        <form class="form-horizontal form-offre" name="CreateOfferForm" novalidate>
            <fieldset>
                <div class="form-group">
                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="alert alert-danger" role="alert">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Nom</label>
                    <div class="controls">
                        <input type="text" data-ng-model="level.name" value="value" id="name" class="form-control" placeholder="Titre" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="level.description" id="description" class="form-control" placeholder="Desription" required>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg" ng-click="ok()" ng-disabled="CreateOfferForm.$invalid">Mèttre à jour</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Annuler</button>
    </div>
</section>
