<section data-ng-controller="CandidatesController as CandidatesCtrl" data-ng-init="find()">
    <div class="page-header">
        <h1>Candidats</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="candidate in candidates"  class="list-group-item">
			<span class="pull-right">
                <button class="btn btn-primary" ng-click="CandidatesCtrl.modalUpdate(candidate)">
                    Metre à jours
                </button>
                <button class="btn btn-primary" data-ng-click="remove(candidate)">
                    Supprimer
                </button>
                <button data-ng-controller="StudentsController" class="btn btn-primary" data-ng-click="createStudent(candidate)">
                    Inscrire
                </button>
            </span>
            <small class="list-group-item-text">
				Ajouté dans le
				<span data-ng-bind="candidate.created | date:'medium'"></span>
				par
				<span data-ng-bind="candidate.user.displayName"></span>
			</small>
			<h3 class="list-group-item-heading" data-ng-bind="candidate.firstName+' '+candidate.lastName+' : ( '+candidate.phone+' )'"></h3>

            <h4 class="list-group-item-heading" data-ng-bind="candidate.disponibilite"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!candidates.$resolved || candidates.length">
    	Pas encore de Candidats dans cet Niveau
    </div>
</section>
