<div class="container-fluid">
    <div class="modal-header">
        <h3>edit votre compte Agent</h3>
    </div>
    <form name="userForm" data-ng-submit="update()" class="signin form-horizontal" novalidate autocomplete="off">
        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" required id="firstName" name="firstName" class="form-control"
                           data-ng-modal="agent.firstName" value="{{agent.firstName}}"  placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control"
                           data-ng-modal="agent.lastName" value="{{agent.lastName}}" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" data-ng-modal="agent.email"
                           value="{{agent.email}}"  placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control"
                           data-ng-modal="agent.username"  value="{{agent.username}}" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                           data-ng-modal="agent.password" value="{{agent.password}}" placeholder="Password">
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-large btn-primary">edit</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
